{% extends 'base.html.twig' %}

{% block title %}Edit ReceptionStructure{% endblock %}

{% block body %}
    <h1>Edit ReceptionStructure</h1>

    {{ include('back/reception_structure/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('back/reception_structure/_delete_form.html.twig') }}
{% endblock %}
