{% extends 'base.html.twig' %}

{% block title %}New ReceptionStructure{% endblock %}

{% block body %}
    <h1>Create new ReceptionStructure</h1>

    {{ include('back/reception_structure/_form.html.twig') }}

    <a href="{{ path('app_back_reception_structure_index') }}">back to list</a>
{% endblock %}
