<form class="d-inline" method="post" action="{{ path('app_back_volunteering_type_delete', {'id': volunteering_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ volunteering_type.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
