{% extends 'base.html.twig' %}

{% block title %}Edit VolunteeringType{% endblock %}

{% block body %}
    <h1>Edit VolunteeringType</h1>

    {{ include('back/volunteering_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_volunteering_type_index') }}">back to list</a>

    {{ include('back/volunteering_type/_delete_form.html.twig') }}
{% endblock %}
